@import url("https://fonts.googleapis.com/css2?family=Fraunces:opsz,wght@9..144,700&family=Kumbh+Sans:wght@500;700&display=swap");

$grey: rgb(157, 174, 194);
$violet: rgb(89, 100, 224);
$white: rgb(255, 255, 255);
* {
  margin: 0;
  padding: 0;
  font-family: "Kumbh Sans", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  box-sizing: border-box;
  font-size: 16px;
  text-decoration: none;
}
body {
  height: 100vh;
}
code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.flex {
  display: flex;
}
.column {
  flex-direction: column;
}
.justify-between {
  justify-content: space-between;
}

.items-center {
  align-items: center;
}

.justify-start {
  justify-content: flex-start;
}
.items-left {
  align-items: start;
}
.items-center {
  align-items: center;
}
.gap-1 {
  gap: 4px;
}
.gap-2 {
  gap: 8px;
}
.gap-3 {
  gap: 16px;
}
.gap-4 {
  gap: 24px;
}
.border-none {
  border: none;
}
.border-1 {
  border-bottom: 1px solid $grey;
}

button {
  background-color: $violet;
  border: none;
  color: $white;
  border-radius: 8px;
  padding: 16px;
  height: 48px;
  cursor: pointer;
  font-weight: 700;
}
